# Joins

In [1]:
import mysql.connector as connection

In [21]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    #inner join
    sql = "SELECT \
         CustomerDetails.FirstName, \
         orders.OrderID  \
         FROM  CustomerDetails\
         INNER JOIN  Orders ON CustomerDetails.CutomerID= orders.CustomerID"
    #left join
    sql1="SELECT \
         CustomerDetails.FirstName, CustomerDetails.LastName, CustomerDetails.AddressID ,\
         orders.OrderID,orders.ShipperID  \
         FROM  CustomerDetails\
         LEFT JOIN  Orders ON CustomerDetails.CutomerID= orders.CustomerID"
    #right join
    sql2= "SELECT \
         CustomerDetails.FirstName, CustomerDetails.LastName, CustomerDetails.AddressID ,\
         orders.OrderID,orders.ShipperID  \
         FROM  CustomerDetails\
         RIGHT JOIN  Orders ON CustomerDetails.CutomerID= orders.CustomerID"
    #full outer
    sql3= "SELECT * FROM CustomerDetails \
           LEFT JOIN orders  ON CustomerDetails.CutomerID= orders.CustomerID\
           UNION\
          SELECT * FROM CustomerDetails \
           RIGHT JOIN orders  ON CustomerDetails.CutomerID= orders.CustomerID"
    
  

    cursor = mydb.cursor()
    cursor.execute(sql3)
    for res in cursor.fetchall():
        print(res)
    
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
(1, 1, 'Krishna', 'Desai', 5, 1, datetime.date(2006, 4, 14), datetime.date(2019, 2, 12), 1000, 1, 101, datetime.date(2019, 1, 11), 11)
(2, 2, 'Rupa', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12), 1001, 2, 102, datetime.date(2019, 2, 27), 4)
(3, 1, 'Raj', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12), 1009, 3, 103, datetime.date(2013, 7, 23), 3)
(4, 3, 'abhi', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12), 1111, 4, 104, datetime.date(2019, 7, 23), 11)
(5, 1, 'papal', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12), 1160, 5, 105, datetime.date(2019, 7, 23), 30)
(6, 2, 'Raju', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12), None, None, None, None, None)
(7, 2, 'hemal', 'shikh', 3, 0, datetime.date(2004, 4, 14), datetime.date(2018, 2, 12), None, None, None, None, None)
(8, 1, 'sita', 'modi', 3, 0, datetime.date(2005, 4, 12), datetime.date(2019, 2, 12), None, None, None, None, None)
(9, 3, 'zeel', 'ghoda', 3, 0, datetime.date(2006, 2, 11), datetime.date(2020, 2, 12), None, None, None, None, None)
(10, 1, 'poja', 'shah', 3, 0, datetime.date(2008, 10, 10), datetime.date(2015, 2, 12), None, None, None, None, None)
(11, 2, 'rahul', 'sisodia', 3, 0, datetime.date(2003, 3, 9), datetime.date(2013, 2, 12), None, None, None, None, None)
(12, 2, 'Viranchi', 'Bhatt', 67, 0, datetime.date(2019, 1, 11), datetime.date(2020, 1, 11), None, None, None, None, None)
(13, 3, 'Pariskesh', 'Raval', 12, 1, datetime.date(2019, 2, 27), datetime.date(2019, 7, 4), None, None, None, None, None)
(14, 1, 'Demon', 'bond', 23, 0, datetime.date(2013, 7, 23), datetime.date(2015, 9, 30), None, None, None, None, None)
(15, 2, 'Stefan', 'salvoretian', 78, 1, datetime.date(2019, 7, 23), None, None, None, None, None, None)
(16, 2, 'Alena', 'Gelbert', 33, 0, datetime.date(2019, 7, 23), datetime.date(2015, 9, 30), None, None, None, None, None)