In [1]:
import mysql.connector as connection

# SELECT QUERY
1) select FirstName,LastName  From  customerdetails
2) select all columns
3) SELECT DISTINCT LastName From  customerdetails

In [3]:

try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "select FirstName,LastName  From  customerdetails"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
('Krishna', 'Desai')
('Rupa', 'Patel')
('Raj', 'Patel')
('abhi', 'Patel')
('papal', 'Patel')
('Raju', 'Patel')
('hemal', 'shikh')
('sita', 'modi')
('zeel', 'ghoda')
('poja', 'shah')
('rahul', 'sisodia')

In [4]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "select *  From  customerdetails"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
(1, 1, 'Krishna', 'Desai', 5, 1, datetime.date(2006, 4, 14), datetime.date(2019, 2, 12))
(2, 2, 'Rupa', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12))
(3, 1, 'Raj', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12))
(4, 3, 'abhi', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12))
(5, 1, 'papal', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12))
(6, 2, 'Raju', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12))
(7, 2, 'hemal', 'shikh', 3, 0, datetime.date(2004, 4, 14), datetime.date(2018, 2, 12))
(8, 1, 'sita', 'modi', 3, 0, datetime.date(2005, 4, 12), datetime.date(2019, 2, 12))
(9, 3, 'zeel', 'ghoda', 3, 0, datetime.date(2006, 2, 11), datetime.date(2020, 2, 12))
(10, 1, 'poja', 'shah', 3, 0, datetime.date(2008, 10, 10), datetime.date(2015, 2, 12))
(11, 2, 'rahul', 'sisodia', 3, 0, datetime.date(2003, 3, 9), datetime.date(2013, 2, 12))

In [5]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT DISTINCT LastName From  customerdetails"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
('Desai',)
('Patel',)
('shikh',)
('modi',)
('ghoda',)
('shah',)
('sisodia',)

# WHERE

In [8]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT FirstName,LastName,active FROM customerdetails WHERE LastName='Patel'"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
('Rupa', 'Patel', 0)
('Raj', 'Patel', 0)
('abhi', 'Patel', 0)
('papal', 'Patel', 0)
('Raju', 'Patel', 0)

In [9]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT FirstName,LastName,active FROM customerdetails WHERE AddressID=3"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
('Rupa', 'Patel', 0)
('Raj', 'Patel', 0)
('abhi', 'Patel', 0)
('papal', 'Patel', 0)
('Raju', 'Patel', 0)
('hemal', 'shikh', 0)
('sita', 'modi', 0)
('zeel', 'ghoda', 0)
('poja', 'shah', 0)
('rahul', 'sisodia', 0)

- =   Equal 
- >	Greater than
- <	Less than
- >=	Greater than equal 
- <=	Less than equal 
- < >	Not equal (also written as !=)
- BETWEEN	Between a range 
- LIKE	Search for  pattern 
- IN	Specify multiple possible values for a column

# The SQL WHERE CLAUSE WITH AND, OR & NOT

In [12]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT FirstName , LastName FROM customerdetails WHERE FirstName='Raj'  AND LastName='Patel' "

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
('Raj', 'Patel')

In [13]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT FirstName , LastName FROM customerdetails WHERE active='0'  OR  LastName='Patel' "

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
('Rupa', 'Patel')
('Raj', 'Patel')
('abhi', 'Patel')
('papal', 'Patel')
('Raju', 'Patel')
('hemal', 'shikh')
('sita', 'modi')
('zeel', 'ghoda')
('poja', 'shah')
('rahul', 'sisodia')

In [14]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT FirstName , LastName ,StoreID FROM customerdetails WHERE NOT StoreID=1  "

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
        

        
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
('Rupa', 'Patel', 2)
('abhi', 'Patel', 3)
('Raju', 'Patel', 2)
('hemal', 'shikh', 2)
('zeel', 'ghoda', 3)
('rahul', 'sisodia', 2)

In [21]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT CutomerID,StoreID,FirstName,LastName FROM customerdetails WHERE LastName='Patel' ORDER BY FirstName DESC "

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
(2, 2, 'Rupa', 'Patel')
(6, 2, 'Raju', 'Patel')
(3, 1, 'Raj', 'Patel')
(5, 1, 'papal', 'Patel')
(4, 3, 'abhi', 'Patel')

In [26]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT CutomerID,StoreID,FirstName,LastName FROM customerdetails   LIMIT 11;"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
(1, 1, 'Krishna', 'Desai')
(2, 2, 'Rupa', 'Patel')
(3, 1, 'Raj', 'Patel')
(4, 3, 'abhi', 'Patel')
(5, 1, 'papal', 'Patel')
(6, 2, 'Raju', 'Patel')
(7, 2, 'hemal', 'shikh')
(8, 1, 'sita', 'modi')
(9, 3, 'zeel', 'ghoda')
(10, 1, 'poja', 'shah')
(11, 2, 'rahul', 'sisodia')

# SQL MIN() AND MAX() FUNCTION

In [29]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT MIN(AddressID) AS SmallID FROM customerdetails ;"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
(3,)

In [30]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT MAX(AddressID) AS SmallID FROM customerdetails ;"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
(5,)

# The SQL COUNT(), AVG() AND SUM() FUNCTION

In [32]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT COUNT(StoreID) FROM customerdetails WHERE StoreID=2 ;"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
(4,)

In [33]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT AVG(StoreID) FROM customerdetails WHERE StoreID=2 ;"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
(Decimal('2.0000'),)

In [34]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT SUM(StoreID) FROM customerdetails;"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
(Decimal('19'),)

# The SQL LIKE-OPERATOR

In [45]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    mySql_insert_query = """INSERT INTO customerdetails (CutomerID, StoreID, FirstName, LastName, AddressID, active, CreateDate, UpdateDate) 
                           VALUES (%s, %s, %s, %s,%s,%s,%s,%s) """

    records_to_insert = [(12, '2','Viranchi','Bhatt' ,67,0,'2019-01-11','2020-01-11'),
                         (13, '3', 'Pariskesh','Raval',12,1, '2019-02-27','2019-07-04'),
                         (14, '1', 'Demon','bond',23,0, '2013-07-23','2015-09-30'),
                         (15, '2', 'Stefan', 'salvoretian',78,1,'2019-07-23','2020-0,5-11'), 
                         (16, '2', 'Alena','Gelbert',33,0,'2019-07-23','2015-09-30')]
   
    cursor=mydb.cursor()
    cursor.executemany(mySql_insert_query, records_to_insert)
    mydb.commit()
   
    
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True

In [72]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query1 = "SELECT * FROM customerdetails WHERE FirstName LIKE 'P%';"
    query2="SELECT * FROM customerdetails WHERE FirstName LIKE '%A';"
    query3="SELECT * FROM customerdetails WHERE LastName LIKE '%e%';"
    query4="SELECT * FROM customerdetails WHERE FirstName LIKE 'A%i';"
    query5="SELECT * FROM customerdetails WHERE FirstName LIKE 'A___%';"
    query6="SELECT * FROM customerdetails WHERE FirstName LIKE 'Pa%';"
    
    
    
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query7)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
(1, 1, 'Krishna', 'Desai', 5, 1, datetime.date(2006, 4, 14), datetime.date(2019, 2, 12))

# The SQL IN AND NOT IN OPERATORS

In [76]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT * FROM customerdetails Where StoreID IN(1,2,3) "
    query1 = "SELECT * FROM customerdetails Where StoreID NOT IN(1) "

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query1)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
(2, 2, 'Rupa', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12))
(4, 3, 'abhi', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12))
(6, 2, 'Raju', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12))
(7, 2, 'hemal', 'shikh', 3, 0, datetime.date(2004, 4, 14), datetime.date(2018, 2, 12))
(9, 3, 'zeel', 'ghoda', 3, 0, datetime.date(2006, 2, 11), datetime.date(2020, 2, 12))
(11, 2, 'rahul', 'sisodia', 3, 0, datetime.date(2003, 3, 9), datetime.date(2013, 2, 12))
(12, 2, 'Viranchi', 'Bhatt', 67, 0, datetime.date(2019, 1, 11), datetime.date(2020, 1, 11))
(13, 3, 'Pariskesh', 'Raval', 12, 1, datetime.date(2019, 2, 27), datetime.date(2019, 7, 4))
(15, 2, 'Stefan', 'salvoretian', 78, 1, datetime.date(2019, 7, 23), None)
(16, 2, 'Alena', 'Gelbert', 33, 0, datetime.date(2019, 7, 23), datetime.date(2015, 9, 30))

# The SQL BETWEEN OPERATOR

In [79]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT * FROM customerdetails where AddressID BETWEEN 1 AND 10"
    query1 = "SELECT * FROM customerdetails Where StoreID NOT IN(1) "

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
(1, 1, 'Krishna', 'Desai', 5, 1, datetime.date(2006, 4, 14), datetime.date(2019, 2, 12))
(2, 2, 'Rupa', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12))
(3, 1, 'Raj', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12))
(4, 3, 'abhi', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12))
(5, 1, 'papal', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12))
(6, 2, 'Raju', 'Patel', 3, 0, datetime.date(2003, 4, 14), datetime.date(2018, 2, 12))
(7, 2, 'hemal', 'shikh', 3, 0, datetime.date(2004, 4, 14), datetime.date(2018, 2, 12))
(8, 1, 'sita', 'modi', 3, 0, datetime.date(2005, 4, 12), datetime.date(2019, 2, 12))
(9, 3, 'zeel', 'ghoda', 3, 0, datetime.date(2006, 2, 11), datetime.date(2020, 2, 12))
(10, 1, 'poja', 'shah', 3, 0, datetime.date(2008, 10, 10), datetime.date(2015, 2, 12))
(11, 2, 'rahul', 'sisodia', 3, 0, datetime.date(2003, 3, 9), datetime.date(2013, 2, 12))

# The SQL ALIAS

In [85]:
import pandas

In [93]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT FirstName AS first ,LastName AS last FROM customerdetails"
    query1 = "SELECT t.FirstName AS first ,t.LastName AS last FROM customerdetails AS t"
    result_dataFrame = pandas.read_sql(query1,mydb)
    result_dataFrame
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True

In [94]:
result_dataFrame

        first         last
0     Krishna        Desai
1        Rupa        Patel
2         Raj        Patel
3        abhi        Patel
4       papal        Patel
5        Raju        Patel
6       hemal        shikh
7        sita         modi
8        zeel        ghoda
9        poja         shah
10      rahul      sisodia
11   Viranchi        Bhatt
12  Pariskesh        Raval
13      Demon         bond
14     Stefan  salvoretian
15      Alena      Gelbert

# The SQL GROUP BY STATEMENT

In [127]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT AddressID as addID ,Count(FirstName) as NOofpeople From customerdetails Where active=0 GROUP BY AddressID ORDER BY AddressID ASC"
   

    cursor = mydb.cursor() #create a cursor to execute queries
    result = pandas.read_sql(query,mydb)
    result
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True

In [128]:
result

   addID  NOofpeople
0      3          10
1     23           1
2     33           1
3     67           1

# The SQL HAVING CLAUSE

In [132]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT AddressID as addID ,Count(FirstName) as NOofpeople From customerdetails Where active=0  GROUP BY AddressID having count(firstname)>1 ORDER BY AddressID ASC  "
   

    cursor = mydb.cursor() #create a cursor to execute queries
    result = pandas.read_sql(query,mydb)
    result
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True

In [133]:
result

   addID  NOofpeople
0      3          10

In [ ]:
#create table orders

In [140]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE Orders (OrderID INT(10),CustomerID INT(10),EmployeeID INT(8),OrderDate DATE ,ShipperID INT(10));"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created!!

In [142]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    mySql_insert_query = """INSERT INTO orders (OrderID, CustomerID, EmployeeID, OrderDate, ShipperID) 
                           VALUES (%s, %s, %s, %s,%s) """

    records_to_insert = [(1000, '1','101' ,'2019-01-11',11),
                         (1001, '2', '102','2019-02-27',4),
                         (1009, '3', '103','2013-07-23',3),
                         (1111, '4', '104','2019-07-23',11), 
                         (1160, '5', '105','2019-07-23',30)]
   
    cursor=mydb.cursor()
    cursor.executemany(mySql_insert_query, records_to_insert)
    mydb.commit()
   
    
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True

# SQL INNER JOIN

In [149]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT CutomerID from customerdetails  UNION SELECT CustomerID from Orders "
    query1 = "SELECT CutomerID from customerdetails  UNION ALL SELECT CustomerID from Orders "
    
  

    cursor = mydb.cursor() #create a cursor to execute queries
    result = pandas.read_sql(query1,mydb)
    result
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True

In [150]:
result

    CutomerID
0           1
1           2
2           3
3           4
4           5
5           6
6           7
7           8
8           9
9          10
10         11
11         12
12         13
13         14
14         15
15         16
16          1
17          2
18          3
19          4
20          5

# What is a Stored Procedure?
- A stored procedure is a prepared SQL code that you can save, so the code can be reused over and over again.

- So if you have an SQL query that you write over and over again, save it as a stored procedure, and then just call it to execute it.

CREATE PROCEDURE SelectAllCustomers
AS
SELECT * FROM Customers
GO;

In [174]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE PROCEDURE SelectAllCustomers  AS  SELECT * FROM  customerdetails "
    
    
  

    cursor = mydb.cursor()
    cursor.execute(query)
    
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1

# SQL JOIN

In [ ]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "select customerdetails.FirstName,c "
    
    
  

    cursor = mydb.cursor()
    cursor.execute(query)
    
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))