CONSTRAINTS  	DESCRIPTION
Not Null	 It Ensures that a column cannot have a NULL value.
Unique	     It Ensures that all the values in a column are unique.
PrimaryKey	 It is a combination of a NOT NULL and UNIQUE. Uniquely identifies each row in a table.
Foreign Key	 Uniquely identifies a record /row in another table
Check	     It checks that all values in a column satisfy a specific condition
Default	     It gives a default value for a column when no value is specified
Index	     It is Used to create and retrieve data from the database quickly.

In [1]:
import mysql.connector as connection

In [28]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

#NOT NULL
    query = " CREATE TABLE mytest (agent_name varchar(6) NOT NULL,\
               agent_code varchar(10) NOT NULL, agent_working varchar(27) NOT NULL)"
#UNIQUE
#Check
#Default
#not null
    query1='CREATE TABLE mytest1(std_name varchar(34) NOT NULL,\
           stu_code INT NOT NULL UNIQUE,\
           Grade char(2) NOT NULL, \
           working_area  char(10) DEFAULT "Mumbai",\
           commission decimal(8,2) CHECK (commission>.1 AND commission<.3))'
    query2="CREATE TABLE mytest9(agent_ID INT(5) NOT NULL,\
             agent_name VARCHAR(10),\
             Working_area VARCHAR(10) CHECK(Working_area IN('London','Brisban','Chennai','Mumbai')) DEFAULT 'Jaipur',\
              commission decimal CHECK(commission<1),\
             ord_date char(10) NOT NULL CHECK(ord_date LIKE '--/--/----' ))"
    dd="CREATE TABLE mytest10 (\
          agent_code char(6) NOT NULL UNIQUE ,\
agent_name char(25) NOT NULL UNIQUE ,\
working_area char(25) ,\
commission decimal(8,2) ,\
CHECK((commission<.14 AND working_area='London')\
OR (commission<.15 AND working_area='Mumbai')\
OR (commission<.13 AND working_area='New York')))"; 
    ff="CREATE TABLE mytest11(\
tranno decimal NOT NULL,\
company_id varchar(6),\
itemcode varchar(10),\
coname varchar(35),\
itemname varchar(35),\
iqty integer,\
PRIMARY KEY(itemcode),\
FOREIGN KEY(company_id)\
REFERENCES company (company_id)\
ON DELETE CASCADE);"
    
   
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(ff)
    print('done!!')
   
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1824 (HY000): Failed to open the referenced table 'company'

In [ ]:
''' ff="CREATE TABLE mytest11(\
tranno decimal NOT NULL,\
company_id varchar(6),\
itemcode varchar(10),\
coname varchar(35),\
itemname varchar(35),\
iqty integer,\
PRIMARY KEY(itemcode),\
FOREIGN KEY(company_id)\
REFERENCES company (company_id)\
ON DELETE CASCADE);"'''

In [43]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

#NOT NULL
    query = " CREATE TABLE student1(stu_name varchar(10) NOT NULL,age int )"
    q1='ALTER TABLE student1 MODIFY age int NOT NULL'
    q2='ALTER TABLE student1 MODIFY age int UNIQUE ;'
    q3='ALTER TABLE student1 ADD fname varchar(10) NOT NULL'
    q4='ALTER TABLE student1 ADD lname varchar(10) NOT NULL UNIQUE'
    q5='ALTER TABLE student1 ADD CONSTRAINT UC_student1 UNIQUE (age)';
    q6='ALTER TABLE student1  DROP INDEX UC_student1;'
    


    

    cursor = mydb.cursor() 
    cursor.execute(q6)
    print('done!!')
   
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
done!!

In [48]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

#NOT NULL
  
    query ='CREATE TABLE person(ID int NOT NULL, last_name varchar(255) NOT NULL, first_name varchar(255), age int, PRIMARY KEY(ID));'
    query1="CREATE TABLE person1 ( id int NOT NULL,\
            last_name varchar(255) NOT NULL,\
            first_name varchar(255),\
            age int,\
            CONSTRAINT PK_person PRIMARY KEY (id,last_name))" 

    cursor = mydb.cursor() 
    cursor.execute(query1)
    print('done!!')
   
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
done!!



#single fkey
CREATE TABLE Orders (
    OrderID int NOT NULL,
    OrderNumber int NOT NULL,
    PersonID int,
    PRIMARY KEY (OrderID),
    FOREIGN KEY (PersonID) REFERENCES Persons(PersonID)
);
#child table

#multiple fkey
CREATE TABLE Orders (
    OrderID int NOT NULL,
    OrderNumber int NOT NULL,
    PersonID int,
    PRIMARY KEY (OrderID),
    CONSTRAINT FK_PersonOrder FOREIGN KEY (PersonID)
    REFERENCES Persons(PersonID)
);

ALTER TABLE Orders
ADD FOREIGN KEY (PersonID) REFERENCES Persons(PersonID);

ALTER TABLE Orders 
CONSTRAINT FK_PersonOrder FOREIGN KEY (PersonID)