# SQL DATABASE

In [2]:
import mysql.connector as connection

In [4]:
#drop database
try:
    mydb = connection.connect(host="localhost", database = 'student',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "DROP DATABASE student"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print('dropped')
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

1049 (42000): Unknown database 'student'

In [5]:
#DROP TABLE customer;

In [12]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "INSERT INTO orders(OrderID, CustomerID, EmployeeID, OrderDate, ShipperID)VALUES (1145, 6,106, '2018-08-23',30);"
    query1 = "INSERT INTO orders(OrderID, CustomerID, EmployeeID, OrderDate, ShipperID)VALUES (1146, 7,110, '2018-08-23',NULL);"
    query2 = "INSERT INTO orders(OrderID, CustomerID, EmployeeID, OrderDate, ShipperID)VALUES (1147, 8,109, '2017-08-23',5);"
    query3 = "INSERT INTO orders(OrderID, CustomerID, EmployeeID, OrderDate, ShipperID)VALUES (1148, NULL,NULL, '2017-08-23',5);"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query3)
    print('added')
    mydb.commit()
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
added

# The SQL NULL VALUES

In [17]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "SELECT * from orders Where ShipperID IS NULL  ;"
    query1 = "SELECT * from orders Where ShipperID IS  NOT NULL  ;"
    
   
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query1)
    print('done!!')
    for res in cursor.fetchall():
        print(res)
    
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
done!!
(1000, 1, 101, datetime.date(2019, 1, 11), 11)
(1001, 2, 102, datetime.date(2019, 2, 27), 4)
(1009, 3, 103, datetime.date(2013, 7, 23), 3)
(1111, 4, 104, datetime.date(2019, 7, 23), 11)
(1160, 5, 105, datetime.date(2019, 7, 23), 30)
(1147, 8, 109, datetime.date(2017, 8, 23), 5)
(1148, None, None, datetime.date(2017, 8, 23), 5)

# The SQL UPDATE STATEMENT

In [20]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "UPDATE orders SET ShipperID=60 WHERE EmployeeID=101"
   
    
   
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print('done!!')
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
done!!

# The SQL DELETE STATEMENT

In [21]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "DELETE FROM orders WHERE ShipperID=5"
   
    
   
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print('done!!')
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
done!!

# The SQL ALTER TABLE STATEMENT

In [ ]:
#ALTER TABLE ----ADD new col
#ALTER TABLE ---MODIFY existing col
#ALTER TABLE---DROP col

In [28]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "ALTER TABLE orders ADD email varchar(25)"
    query1='ALTER TABLE orders ADD DoB DATE'
    #modify col dob
    query2='ALTER TABLE orders MODIFY DoB YEAR'
    #drop col dob
    query3='ALTER TABLE orders DROP DoB'
    query4='ALTER TABLE orders DROP email'
    
   
    
   
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query4)
    print('done!!')
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
done!!