In [2]:
import mysql.connector as connection

In [26]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())


    query = " CREATE INDEX idx_pname\
              ON orders (OrderDate);"
 
    d1='ALTER TABLE orders\
       DROP INDEX idx_pname'
    

    cursor = mydb.cursor() 
    cursor.execute(d1)
    print('done!!')
   
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
done!!

In [ ]:
CREATE INDEX idx_pname
ON Persons (LastName, FirstName);

In [ ]:
ALTER TABLE table_name
DROP INDEX index_name;

In [27]:
try:
    mydb = connection.connect(host="localhost", database = 'customer',user="root", passwd="9105kdkd",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    c1='Create view minitab AS\
         SELECT FirstName ,LastName From customerdetails'

    cursor = mydb.cursor() 
    cursor.execute(c1)
    print('done!!')
   
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
done!!