# BASIC OF Mysql

In [6]:
import mysql.connector as connection

try:
    mydb=connection.connect(host='localhost',user='root',password='9105kdkd',use_pure=True)
    #check if connection is established
    print(mydb.is_connected())
    mydb.close()
except Exception as e:
    print(str(e))

True

In [7]:
import mysql.connector as connection
try:
    mydb=connection.connect(host='localhost',user='root',password='9105kdkd',use_pure=True)
    query='SHOW DATABASES'
    
    cursor=mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [13]:
#Create New Database Student
import mysql.connector as connection
try:
    mydb=connection.connect(host='localhost',user='root',password='9105kdkd',use_pure=True)
    print(mydb.is_connected())
    query='Create database Students;'
    
    cursor=mydb.cursor()
    cursor.execute(query)
    #print(cursor.fetchall())
    print('Database Created')
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Database Created

In [21]:
import mysql.connector as connection

try: 
    mydb=connection.connect(host='localhost',user='root',password='9105kdkd',use_pure=True,database='student')
    print(mydb.is_connected())
    
    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"
    
    cursor=mydb.cursor()
    cursor.execute(query)
    print('Table Created!!')
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1050 (42S01): Table 'studentdetails' already exists

# add values into table

In [25]:
import mysql.connector as connection
try:
    mydb=connection.connect(host='localhost',user='root',password='9105kdkd',use_pure=True,database='student')
    print(mydb.is_connected())
    
    query='INSERT INTO StudentDetails VALUES("1132","Sachin","Kumar","1999-11-11","11th","A")'
    
    cursor=mydb.cursor()
    cursor.execute(query)
    print("data inserted")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
data inserted

In [26]:
import mysql.connector as connection
try:
    mydb=connection.connect(host='localhost',user='root',password='9105kdkd',use_pure=True,database='student')
    print(mydb.is_connected())
    
    query='INSERT INTO StudentDetails VALUES("1133","Radhe","Kumar","1997-11-11","12th","A")'
    
    cursor=mydb.cursor()
    cursor.execute(query)
    print("data inserted")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
data inserted

In [27]:
import mysql.connector as connection
try:
    mydb=connection.connect(host='localhost',user='root',password='9105kdkd',use_pure=True,database='student')
    print(mydb.is_connected())
    
    query='INSERT INTO StudentDetails VALUES("1134","Sachin","Kumar","1999-11-11","11th","A")'
    
    cursor=mydb.cursor()
    cursor.execute(query)
    print("data inserted")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
data inserted

In [41]:
#update data in table
import mysql.connector as connection

try:
    mydb=connection.connect(host='localhost',user='root',password='9105kdkd',use_pure=True,database='student')
    print(mydb.is_connected())
    
    query="UPDATE StudentDetails SET FirstName='Krishna',LastName='Desai' WHERE Studentid=1134"
    
    cursor=mydb.cursor()
    cursor.execute(query)
    print('data updated !!')
    mydb.commit()
    
    query='select * from  StudentDetails WHERE Studentid=1134'
    cursor=mydb.cursor()
    cursor.execute(query)
    for result in cursor.fetchall():
            print(result)
    
    
except Exception as e:
    mydb.close()
    print(str(e))

True
data updated !!
(1134, 'Krishna', 'Desai', datetime.date(1999, 11, 11), '11th', 'A')

# Create GlassData

In [46]:
import mysql.connector as connection
try:
    mydb=connection.connect(host='localhost',user='root',password='9105kdkd',use_pure=True)
    print(mydb.is_connected())
    
    query='Create database GlassData;'
    
    cursor=mydb.cursor()
    cursor.execute(query)
    print('Database is Created !!')
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Database is Created !!