In [ ]:
data='myarea'
list(data)
tuple(data)

In [3]:
l1=[1,2,3]
l2=[]
l2=l1

In [4]:
l1.append(4)

In [6]:
l1,l2

([1, 2, 3, 4], [1, 2, 3, 4])

In [10]:
l1=[1,2,3]
l2=[]
l2=l1.copy()
l1.append(67)
l1,l2

([1, 2, 3, 67], [1, 2, 3])

# Tuple

In [11]:
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [16]:
t2=([1,2,3,4],[1,2,5,6])
type(t2)

tuple

In [21]:
t3=[(1,2,3),(2,3)]

###

In [23]:
t4=(5,4,3,2,1,0)
t4.add(4)

AttributeError: 'tuple' object has no attribute 'add'

## Set

set is the unordered collection unique elements

In [29]:
#st={[1,2,3],3,5,7,7,7,7} #set not allowed list inside the set
st={(1,20),(2,3,5),(6,7)}#set allowed tuple inside the set

{(1, 20), (2, 3, 5), (6, 7)}

In [32]:
x=set()
x.add(3)
x.add(3,4,5,6,7)#add at a time only one element

TypeError: add() takes exactly one argument (5 given)

In [36]:
x={3,4,5,6}
x.add(5)
x.add(8)
x

{3, 4, 5, 6, 8}

In [37]:
#take a assumpation data will store inside the set in asecnding order
s={3,89,45,12,0,34}
s

{0, 3, 12, 34, 45, 89}

In [40]:
s={3,89,45,12,0,34,'sudh','arav','ashi'} # here we can see that set sort the data by seeing first element of data
s

{0, 12, 3, 34, 45, 89, 'arav', 'ashi', 'sudh'}

# Dictionary

In [41]:
s={'1':"krishna",'2':'kavisha','3':'jesal','4':'mohan'}
s

{'1': 'krishna', '2': 'kavisha', '3': 'jesal', '4': 'mohan'}

In [44]:
len(s)

4

In [50]:
s={(1,2,3):"krishna",[1,2,3,4]:'kavisha','3':'jesal','4':'mohan'} #list in not allowed as key in dict

TypeError: unhashable type: 'list'

In [51]:
for k in s.keys(): #get keys 
    print(k)

(1, 2, 3)
2
3
4

In [52]:
for v in s.values():
    print(v)

krishna
kavisha
jesal
mohan

In [53]:
for k,v in s.items():
    print(k,v)

(1, 2, 3) krishna
2 kavisha
3 jesal
4 mohan

In [54]:
d={'a':1,'b':2,'c':{'d':4,'e':5}}

In [55]:
d

{'a': 1, 'b': 2, 'c': {'d': 4, 'e': 5}}

In [59]:
d['c']['d']

4

In [63]:
d={'a':(1,2,3),(1,2):'kd','[1,2,3]':[1,2,3]}

In [64]:
d['b']=[4,5]

In [66]:
d['a']=(1,2,3,4,5)

In [67]:
d

{'a': (1, 2, 3, 4, 5), (1, 2): 'kd', '[1,2,3]': [1, 2, 3], 'b': [4, 5]}

In [68]:
for i in d:
    print(i,d[i])

a (1, 2, 3, 4, 5)
(1, 2) kd
[1,2,3] [1, 2, 3]
b [4, 5]

# nested dictionary

In [70]:
nest={'key':{'nestedkey':{'sub-nestedkey':'value'}}}

In [74]:
nest['key']['nestedkey']

{'sub-nestedkey': 'value'}

In [75]:
f={'1':'my','2':'name','3':'krishna'}

In [78]:
list(f.keys())[0]

'1'

In [79]:
f.values()

dict_values(['my', 'name', 'krishna'])

In [80]:
f.items()

dict_items([('1', 'my'), ('2', 'name'), ('3', 'krishna')])

##  Dictionary comprehension

In [85]:
dc={x:x**2 for x in range(6)}

In [86]:
dc

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [99]:
l=['sudh','kumar','hrishna','desai',1,6,8,9]
d={ x[0]:x for x in l if type(x)==str}

In [100]:
d

{'s': 'sudh', 'k': 'kumar', 'h': 'hrishna', 'd': 'desai'}

In [ ]:
s={'1':"krishna",'2':'kavisha','3':'jesal','4':'mohan'}

## function

In [102]:
def fun():
    print('this my first function')
a=fun()
a+'sudh'

this my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [106]:
def fun():
    return 'this is first function'
a=fun()+' krishna'
a

'this is first function krishna'

In [1]:
#function cna return multiple values

In [11]:
def fun():
    return 3+1j,6,'krishna',7.9
a,_,_,_=fun()

a

(3+1j)

In [13]:
def fun(a,b=1):
    c=a+b
    return c
print(fun(3,5))

8

In [18]:

def fun(a,m,n,o,p,b=1): #non-default argument follows default argument
    c=a+b
    return c
print(fun(3,2,2,2,1))

4

In [21]:
def test(s):
    s.append(6)
    s.pop(2)
    return s

a=test([1,2,3,4])

In [22]:
a

[1, 2, 4, 6]

In [25]:
def test1(name):
    print('hello %s'%name)
test1('c')

hello c

In [28]:
#prime number
def prime(num):
    for no in range(2,num):
        if num%no!=0:
            print('prime')
            break
        else:
            print('not prime')
            break

In [30]:
prime(4)

not prime

In [35]:
s='sudh'
next(s) # s is not iterator by default

TypeError: 'str' object is not an iterator

In [41]:
c=iter(s)

In [47]:
next(c)

StopIteration:

In [43]:
l=[1,2,3,4]
next(s)

TypeError: 'str' object is not an iterator

### iterable object covert into iterable object by iter() function
### next()--> use to extrect element from the iterator object
### string is not itrable by default

### if object is not iterable then it is not covrted to iterator object

# Generator Function

In [55]:
def gencube(n):
     for i in range(n):
            yield i**3
gencube(6) 

#yield keyword generate the object that store what do last time .
#on which we have to iterate over it by iterator

In [56]:
for x in gencube(6):
    print(x)

0
1
8
27
64
125

##  Map function

In [57]:
#it just a one to one mapping with data.no aggeregation,filter

In [61]:
def test(b):
    return b**2

l=[2,3,4,5]

In [63]:
list(map(test,l))

[4, 9, 16, 25]

## Lambda function

In [64]:
list(map(lambda x:x**2,[2,3,4,5]))

[4, 9, 16, 25]

# Reduce Function

In [71]:
from functools import reduce #reduce function is used for aggregation and concatnation
a=[1,2]

reduce(lambda a,b:a+b,a)

3

## Filter Function

In [72]:
list(filter(lambda x:x%2,[2,3,4,5])) #filter data

[3, 5]