# Strings

In [2]:
#string Creation

In [6]:
'krishna'
"krishna's phone"

"krishna's phone"

In [7]:
#multiline creation

In [12]:
"""kriahna's"""

"kriahna's"

In [13]:
"""i 
am
sudhanshu
."""

'i \nam\nsudhanshu\n.'

In [14]:
#string length
len('hello world')

11

In [15]:
#string concatanation

In [16]:
'data science' +1

TypeError: can only concatenate str (not "int") to str

In [17]:
'data science'+'1'

'data science1'

In [18]:
'data science' *3

'data sciencedata sciencedata science'

# print fomatting

In [19]:
a=12
print('insert a data {} in to a sentence {}.'.format(a,a))

insert a data 12 in to a sentence12.

In [20]:
print('insert a data {} in to a sentence {}.'.format(a,a,'jam','spunky'))

insert a data 12 in to a sentence 12.

In [21]:
s='hello world'
s.lower()

'hello world'

In [23]:
s.capitalize()

'Hello world'

In [24]:
s='hello.org'
s.split('.')

['hello', 'org']

# What is mutability

when object is store in stack.and it alllows you to manipulate inside the object this property is called mutabilty.
string is not allowed to chnage inside the object.we can say that string has immutable property.

but object can be reassign again as a object

# Location and Counting

In [29]:
s='john chhrist'

In [30]:
s.count('h')

3

In [31]:
s.find('h')

2

In [33]:
s.center(20,'#')

'####john chhrist####'

In [39]:
d='jesal\tdesai'
d.expandtabs(tabsize=10)

'jesal     desai'

In [44]:
string='Krishna123'
string.isalnum()
string.isalpha()
string.istitle()

True

# Split() and Partition()

Split()--seprate the string at a certain element and return a list 
partition ()--work same as split() but return tuple with seprator

In [46]:
s='my name is1 universe'
s.split('1')

['my name is', ' universe']

In [47]:
s.partition('1')

('my name is', '1', ' universe')

# List

In [64]:
l=[1,2,3]
l.append('uppend me!!')
l.insert(1,'data')

In [65]:
l

[1, 'data', 2, 3, 'uppend me!!']

In [66]:
l.insert(-1,'sudh')
l

[1, 'data', 2, 3, 'sudh', 'uppend me!!']

In [58]:
l.extend([4,5,6,7,8,9])

In [59]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
l.reverse()#reverse the list permently

In [68]:
l

['uppend me!!', 'sudh', 3, 2, 'data', 1]

In [69]:
#sort function
data=[5,2,89,45,22,12,'krishna','jesal','h','abhishek','s']

In [70]:
data.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [76]:
data_n=[7,3,5,1,89,34]
data_n.sort(reverse=True)

In [77]:
data_n

[89, 34, 7, 5, 3, 1]

In [78]:
#list comprehention

In [79]:
a=[1,2,3]
b=[3,4,5]
c=[5,6,7]

In [82]:
matrix=[a,b,c]
matrix

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

In [90]:
l=[]
for i in  matrix:
    l.append(i[1])
l

[2, 4, 6]